
.about-page{
  padding: 60px 20px;
  max-width: 900px;
  margin: auto;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.8;
  color: #333;
}

.about-page h1{
  font-family: 'Playfair Display', serif;
  font-size: 2.5em;
  text-align: center;
  margin-bottom: 40px;
  color: #3e3e3e;
}

.about-page h2{
  font-size: 1.8em;
  margin-top: 30px;
  color: #c28f5b;
}

.about-page p{
  font-size: 1.05em;
  margin-top: 10px;
}

.back-home{
  display: inline-block;
  margin-top: 40px;
  text-decoration: none;
  background-color: #c28f5b;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  transition: backgroud-color 0.3s ease;
}

.back-home:hover{
  background-color: #a66f3f;
}

.subscribe-popup{
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 2000;
  background: rgba(225, 225, 225, 0.95);
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 2rem;
  width: 300px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
  font-family: 'Open Sans', sans-serif;
  justify-content: center;
  align-items: center;
}

.popup-content{
  position: relative;
  text-align: center;
  background: #fff;
  padding: 2rem;
  border-radius: 10px;
  width: 90%;
  max-width: 400px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
}

.popup-content h3{
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
  color: #333;
}

.popup-content p{
  font-size: 0.95;
  margin-bottom: 1rem;
  color: #555;
}

.popup-content input[type="email"] {
  width: 100%;
  padding: 0.6rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 0.9rem;
  outline: none;
  box-sizing: border-box;
}

.subscribe-button{
  width: 100%;
  padding: 0.6rem;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.subscribe-button:hover{
  background-color: #555;
}

.close-popup{
  position: absolute;
  top: 8px;
  right: 12px;
  font-size: 20px;
  color: #000;
  cursor: pointer;
  transition: color 0.3s ease;
}

.close-popup:hover{
  color: #555;
}